<h3>Créer un produit : </h3>

 <%= form_tag url_for(action: 'create'), method: "post" do %>
      <%= label_tag 'Name' %>
      <%= text_field_tag 'name', @products.name %>
      <br /> <br />

      <%= label_tag 'Description' %>
      <%= text_field_tag 'description', @products.description %>
      <br /> <br />

      <%= label_tag 'Unity' %>
      <%= number_field_tag 'unity', @products.unity %>
      <br /> <br />

      <%= label_tag 'Price' %>
      <%= number_field_tag 'price',  @products.price %>
      <br /> <br />

      <%= submit_tag "Create product" %>
    <% end %>