<div>
<%=link_to 'Edit un produit', edit_admin_product_path%>
<p> show de product du pannel admin</p>

<p>Nom du produit : <%= @products.name  %></p>
<p>Descritpion du produit : <%= @products.description  %></p>
<p>Prix du produit : <%= @products.price  %></p>
<p>Stock du produit : <%= @products.unity  %></p>
</div>
<%= link_to "Delete", admin_product_path, method: :delete, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%=link_to 'Retour', admin_product_index_path%>