<div class="container">
	<div class="row full-height justify-content-center">
		<div class="col-5 text-center">
			<div class="card-3d-wrap mx-auto">
				<div class="card-3d-wrapper">
					<div class="card-front">
            <div class="center-wrap">
              <div class="section text-center">
              <h4 class="text-signin-signup mb-2 pb-3">Je n'ai pas reçu d'email de confirmation</h4>

              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
              
                <div class="field">
                  <%= f.label :email, class: "text_form"  %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "form-control",placeholder: "exemple@gmail.com", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                </div>
              
                <div class="actions mt-3">
                  <%= f.submit "Me renvoyer un email de confirmation", class: "button btn-secondary" %>
                </div>
              <% end %>
                <div class=" container-link-form mt-2">
                  <div>
                    <%= link_to "Connexion", new_user_session_path, class: "link-form" %>
                  </div>
                </div>	
              </div>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>