<div class="container">
	<div class="row full-height justify-content-end">
		<div class="col-3 title-form-left">
			<h1>Créer un compte en 2 minutes et accéder à nos différents produits</h1>
		</div>
		<div class="col-4">
		</div>
		<div class="col-5 text-center">
			<h6 class="mb-0 mt-5 pb-3"><span>Connexion</span><span>S'inscrire</span></h6>
			<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			<label for="reg-log"></label>
			<div class="card-3d-wrap mx-auto">
				<div class="card-3d-wrapper">
					<div class="card-front">
						<div class="center-wrap">
							<div class="section text-center">
								<h4 class="mb-4 pb-3">Connexion</h4>

								<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
								<%= render "devise/shared/error_messages", resource: resource %>
								<div class="row">		  
									<div class="col mb-0">
										<div class=" col-md-6">
											<div class="field">
												<%= f.label :Prénom %><br />
												<%= f.text_field :first_name, autofocus: true, class: "form-control", autocomplete: "Prénom" %>
											</div>
										</div>  

										<div class=" col-md-6">
											<div class="field">
												<%= f.label :Nom %><br />
												<%= f.text_field :last_name, class: "form-control", autocomplete: "Nom de famille" %>
											</div>
										</div>
									</div>		

									<div class="field">
										<%= f.label :email %><br />
										<%= f.email_field :email, class: "form-control", placeholder: "exemple@gmail.com", autocomplete: "email" %>
									</div>
								
									<div class="field">
										<%= f.label :password %>
										<% if @minimum_password_length %>
										<em>(<%= @minimum_password_length %> characters minimum)</em>
										<% end %><br />
										<%= f.password_field :password, class: "form-control", placeholder: "password", autocomplete: "new-password" %>
									</div>
								
									<div class="field">
										<%= f.label :password_confirmation %><br />
										<%= f.password_field :password_confirmation, class: "form-control", placeholder: "password", autocomplete: "new-password" %>
									</div>
								
									<div class="actions mt-2">
										<%= f.submit "Sign up" %>
									</div>
										<% end %>
										<%= render "devise/shared/links" %>
								</div>
							</div>
						</div>
					</div>
					<div class="card-back">
						<div class="center-wrap">
							<div class="section text-center">
								<h4 class="mb-4 pb-3">S'inscrire</h4>
									<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
									<div class="field">
										<%= f.label :email %><br />
										<%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
									</div>

									<div class="field">
										<%= f.label :password %><br />
										<%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
									</div>

									<div class="actions mt-2">
										<%= f.submit "Log in" %>
									</div>
									<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
