<p style="color: green"><%= notice %></p>

<%= render @user_adress %>

<div>
  <%= link_to "Edit this user adress", edit_user_adress_path(@user_adress) %> |
  <%= link_to "Back to user adresses", user_adresses_path %>

  <%= button_to "Destroy this user adress", @user_adress, method: :delete %>
</div>
