<p style="color: green"><%= notice %></p>

<%= render @admin_type %>

<div>
  <%= link_to "Edit this admin type", edit_admin_type_path(@admin_type) %> |
  <%= link_to "Back to admin types", admin_types_path %>

  <%= button_to "Destroy this admin type", @admin_type, method: :delete %>
</div>
