<div class="container">
	<div class="row full-height justify-content-center">
		<div class="col-5 text-center">
			<div class="card-3d-wrap mx-auto">
				<div class="card-3d-wrapper">
					<div class="card-front">
            <div class="center-wrap">
              <div class="section text-center">
                <h4 class="text-signin-signup mb-2 pb-3">Mot de passe oublié ?</h4>
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                <div class="">
                  <div class="field">
                    <%= f.label :email, class: "text_form" %><br />
                    <%= f.email_field :email, autofocus: true, placeholder: "exemple@gmail.com", class: "form-control", autocomplete: "email" %>
                  </div>
                </div>
                  <div class="actions mt-3">
                    <%= f.submit "Réinitialiser mon mot de passe", class: "button btn-secondary" %>
                  </div>
                <% end %>
                <div class=" container-link-form mt-2">
                  <div>
                    <%= link_to "S'inscrire", new_user_registration_path, class: "link-form" %>
                  </div>
                  <div>  
                    <%= link_to "Je n'ai pas reçu d'email de confirmation", new_user_confirmation_path, class: "link-form" %>
                  </div>
                </div>	
              </div>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>