<div class="container-fluid product_page">
<h1>Mon compte</h1>

  <div class="row">
    <div class="card account">
      <h3 class="card-title">Mes informations personnel</h3>
        <p>Prénom : <%= current_user.first_name %></p>
        <p>Nom : <%= current_user.last_name %></p>
        <p>Email : <%= current_user.email %></p>
        <p>Mot de passe : *****************</p>
      <button class="button btn-secondary btn-sm"><%= link_to "Modifier mes informations", edit_user_registration_path %></button>
    </div>
  </div>

  <% @user_addresses.each do |address| %>
  <div class="row">
    <div class="card account regle" style="width: 21.5rem;">
        <h3 class="card-title">Mon adresse</h3>
        <p>Nom de l'adresse: <%= address.address_city %></p><!-- Mettre à jour le <% %> -->
        <p>Numéro: <%= address.address_number %></p>
        <p>Adresse: <%= address.address_street %></p>
        <p>Code postal: <%= address.address_zip %></p>
        <p>Ville: <%= address.address_city %></p>
        <p>Tél : <%= current_user.phone %></p>
        <button class="button btn-secondary btn-sm"><%= link_to "Modifier mon adresse", edit_user_registration_path %></button> <!-- Mettre à jour le lien avec edit_user_address_path -->
      </div>
    </div>
  </div>
    <%end%>
</div>
</div>