<div class="container-fluid account_page">
  <div class="pb-3 m-3 mx-0">
    <%= link_to "",root_path, class:"fas fa-long-arrow-alt-left me-2 text-retour"%>
    <%= link_to "Accueil", root_path, class:"text-retour"%>
  </div>
  <div class="d-flex justify-content-center prod_head">
    <h1>MON COMPTE</h1>
  </div>

  <div class="row-cols-2 account_card">
    <div class="card account">
      <h2 class="card-title">Mes informations</h2>
      <div class="card-body">
        <p><strong>Prénom :</strong> <%= current_user.first_name %></p>
        <p><strong>Nom :</strong> <%= current_user.last_name %></p>
        <p><strong>Email :</strong> <%= current_user.email %></p>
        <p><strong>Mot de passe :</strong> *****************</p>
      </div>
      <div class="card-bottom">
      <button class="button btn-secondary btn-lg"><%= link_to "Modifier mes informations", edit_user_registration_path, class:"btn-modify" %></button>
      </div>
    </div>


    
    <div class="card account">
      <h2 class="card-title">Mes adresses</h2>
      <div class="card-body">
        <% if @user_addresses_count > 0 %>
          <% @user_addresses.each do |address| %>
            <p><strong>Nom de l'adresse :</strong> <%= address.address_type %></p><!-- Mettre à jour le <% %> -->
            <p><strong>Numéro :</strong> <%= address.address_number %></p>
            <p><strong>Adresse :</strong> <%= address.address_street %></p>
            <p><strong>Code postal :</strong> <%= address.address_zip %></p>
            <p><strong>Ville :</strong> <%= address.address_city %></p>
            <div class="card-bottom">
              <%= button_to "Supprimer l'adresse",user_address_path(address.id), :method => :delete, class:"btn-danger button btn-sm" %>
              <button class="button btn-secondary btn-lg"><%= link_to "Modifier mon adresse", edit_user_address_path(address.id), class:"btn-modify" %></button> 
            </div>

          <% end %>
        <% else %>
          <legend class="text-black">Vous devez renseigner une adresse</legend>
          <div class="card-bottom">
            <button class="button btn-secondary"><%= link_to "Ajouter une adresse", new_user_address_path, class:"btn-modify"%></button>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>