<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item c-item active">
      <%= image_tag "1.jpg", class:"d-block w-100 c-image" %>
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <h5>Some representative placeholder content for the first slide.</h5>
        <button class="button btn-secondary btn-lg" role="button">DÉCOUVREZ NOS TRUFFES FRAÎCHES</button>

      </div>
    </div>
    <div class="carousel-item c-item">
      <%= image_tag "chien.jpg", class:"d-block w-100 c-image" %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <h5>Some representative placeholder content for the second slide.</h5>
        <button class="button btn-secondary btn-lg" role="button">DES TRUFFES DE GRANDE QUALITEE</button>

      </div>
    </div>
    <div class="carousel-item c-item">
      <%= image_tag "main_truffe.jpg", class: "d-block w-100 c-image" %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <h5>Some representative placeholder content for the third slide.</h5>
        <button class="button btn-secondary btn-lg" role="button">DES TRUFFES D'EXCEPTION !</button>

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--CARD-->

<div class="title-product">

  <div class="truffle-symbol">
    <i class="fa-solid fa-store"></i>
  </div>

  <h1>NOS PRODUITS DU MOMENT</h1>

  <div class="truffle-symbol">
    <i class="fa-solid fa-store"></i>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <% @highlighted_products.each do |hp| %>
  <div class="col">
    <div class="card" style="width: 21.5rem;">
      <%= image_tag hp.product_image, class: "card-img" %>
      <div class="card-body cardb-text">
        <h4 class="card-title"><%= hp.price %> € / gr</h4>
        <b><p><%= hp.name %></p></b>
        <p class="card-text"><%= hp.description %></p>
      </div>
      <div class="card-body cardb-buy">
        <button class="button btn-outline btn-sm"><%= link_to "Disponible", product_path(hp.id) , class:"card-link"%></button>
        <button class="button btn-secondary btn-sm"><%= link_to "Ajouter au panier", home_add_path(:product_id => hp.id), class:"card-buy" %></button>
      </div>
    </div>
  </div>
    <%end%>
</div>

<!--CARD-->

<!--BANNER HISTOIRE-->

<div class="container my-5 small-banner">
  <div class="row d-flex flex-wrap">
    <div class="col-4">
      <%= image_tag "cloche.jpg", class:"d-block w-100 c-image smallb-image" %>

    </div>
    <div class="col-8 smallb-text">
      <div class="flex-column">
        <h1>NOTRE HISTOIRE</h1>
        <h4>La passion de l'exception</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div class="smb-logo"><%= image_tag "tsm-transparent.png", class:"smallb-logo" %></div>
      </div>
    </div>
  </div>
</div>

<!--BANNER HISTOIRE-->