<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item c-item active">
      <%= image_tag "1.jpg", class:"d-block w-100 c-image" %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Le diamant noir du terroir</h3>
        <h5>Truffe fraiche noire extra Tuber Melanosporum</h5>
        <button class="button btn-secondary btn-lg" role="button">La qualité est notre exigence</button>
      </div>
    </div>
    <div class="carousel-item c-item">
      <%= image_tag "chien.jpg", class:"d-block w-100 c-image" %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Le cavage avec le chien</h3>
        <h5>L'excellent flair du chien reste la meilleure solution de recherche</h5>
        <button class="button btn-secondary btn-lg" role="button">La puissance de l’arôme</button>
      </div>
    </div>
    <div class="carousel-item c-item">
      <%= image_tag "main_truffe.jpg", class: "d-block w-100 c-image" %>
      <div class="carousel-caption d-none d-md-block">
        <h3>L'expérience et la persévérance</h3>
        <h5>TSM rend service aux gastronomes</h5>
        <button class="button btn-secondary btn-lg" role="button">La couleur et l'odeur</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--CARD-->

<div class="title-product">

  <div class="truffle-symbol">
    <i class="fa-solid fa-store"></i>
  </div>

  <h1>NOS PRODUITS DU MOMENT</h1>

  <div class="truffle-symbol">
    <i class="fa-solid fa-store"></i>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <% @user_addresses.each do |hp| %>
  <div class="col">
    <div class="card" style="width: 21.5rem;">
      <%= image_tag hp.product_image, class: "card-img" %>
      <div class="card-body cardb-text">
        <h4 class="card-title"><%= hp.price %> € / gr</h4>
        <b><p><%= hp.name %></p></b>
        <p class="card-text"><%= hp.description %></p>
      </div>
      <div class="card-body cardb-buy">
        <button class="button btn-outline btn-sm"><%= link_to "Disponible", product_path(hp.id) , class:"card-link"%></button>
        <button class="button btn-secondary btn-sm"><%= link_to "Ajouter au panier", home_add_path(:product_id => hp.id), class:"card-buy" %></button>
      </div>
    </div>
  </div>
    <%end%>
</div>

<!--CARD-->

<!--BANNER HISTOIRE-->

<div class="container my-5 small-banner">
  <div class="row d-flex flex-wrap">
    <div class="col-4">
      <%= image_tag "cloche.jpg", class:"d-block w-100 c-image smallb-image" %>

    </div>
    <div class="col-8 smallb-text">
      <div class="flex-column">
        <div class="col justify-content-start smallb-text_title">
          <%= image_tag "truffe.png", class:"truffle-detail"%>
          <h1>NOTRE HISTOIRE</h1>
        </div>
        <div class="col justify-content-start">
          <h4>La passion de trois épicuriens</h4>
        </div>
        <p>La truffière Saint Martin est née de la complicité de trois amis épicuriens autour de la
            même passion : la dégustation de la truffe noire , le diamant noir de la gastronomie
            qui enivre les papilles .<br><br>
            Pierre Birot, propriétaire du Domaine de Saint Martin des champs sur la commune de
            Murviel-lès-Béziers dans l’Hérault, est un viticulteur passionné qui décida de planter ses
            premiers chênes truffiers en 2002 sur certaines parcelles de terre bien choisies du
            domaine .<br>
            Alan Dionisio est négociant et courtier en truffes sur différents marché de truffes en
            France et en Espagne.<br>
            Guillaume Gillis est distributeur et vendeur de truffes aux épiceries fines et restaurants.<br><br>
            Cet amour pour le diamant noir qu'ils dégustent ensemble depuis des années les a réunis
            autour la société Truffières Saint Martin pour la distribution des truffes noires
            du domaine ainsi que pour les achats sur les marches traditionnels de truffes en France
            et en Espagne .<br>
            Notre activité de négoce de truffes fraîches consiste à vendre la production de la Truffière
            Saint Martin ainsi que celles de trufficulteurs qui adoptent nos valeurs et la même charte
            de qualité et de rigueur tout le long de la saison .<br><br>
            </p>
            <div class="smb-logo"><%= image_tag "tsm-transparent.png", class:"smallb-logo" %></div>
      </div>
    </div>
  </div>
</div>

<!--BANNER HISTOIRE-->