<div>

<p>Adresse email : <%= @users.email  %></p>
<p>Prénom : <%= @users.first_name  %></p> 
<p>Nom : <%= @users.last_name  %></p> 
<p>Adresse : <%= @users.email  %></p> 
<p>Numéro de télephone : <%= @users.phone  %></p> 
<p>L'utilisateur est administrateur du site :  <%= @users.is_admin  %></p> 

</div>