<h1>New order</h1>
<p>Prénom : <%= current_user.first_name %></p>
<p>Nom : <%= current_user.last_name %></p>
<p>Email : <%= current_user.email %></p>
<p>Tel : <%= current_user.phone %></p>
<br><br/>
<legend>Veuillez sélectionner votre adresse de livraison :</legend>
<br><br/>
    <% @user_addresses.each do |address| %>
      <button onclick = "liv(address.id)" class="btn btn-outline-light border border-2 border-light rounded-pill"><span><%= address.address_type %></span><span></button>
    <%end%>
<table>
<% @cart.each do |c| %>
<tr><td><h6 class="text-white mb-0"><%= @ref[c.item_id.to_s][:name] %></h6></td><td><h6 class="text-white mb-0"> :    <%= c.quantity %> grammes</h6></td></tr>
<% end %>
<br><br/>
<tr><td>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="text-white text-uppercase">Prix total HT</h5>
                      <h5 class="text-white">€ <%= @total.to_i * 100/(100+19.6)%></h5>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="text-white text-uppercase">TVA</h5>
                      <h5 class="text-white">€ <%= @total.to_i  - (@total.to_i * 100/(100+19.6))%></h5>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="text-white text-uppercase">Prix total TTC</h5>
                      <h5 class="text-white">€ <%= @total.to_i %></h5>
                    </div>
</td></tr><tr><td>                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button type="button" class="btn btn-secondary btn-block btn-m mt-5 me-md-2">
                       <%= link_to "Payer", checkout_create_path(:total => @total),class:"text-white" %>
                      </button>
                      <button type="button" class="btn btn-danger btn-block btn-m mt-5">
                        <%= link_to "Retour au panier", carts_path ,class:"text-white"%>
                      </button>
                    </div>
</td></tr>
</table>
