<div id="<%= dom_id cart %>">
  <p>
    <strong>Id product:</strong>
    <%= cart.product_id %>
  </p>
  <p>
    <strong>product name:</strong>
    <%= cart.product.name %>
  </p>
  <p>
    <strong>Quantity:</strong>
    <%= cart.quantity %>
  </p>
    <p>
    <strong>Price:</strong>
    <%= cart.product.price %>
  </p>
</div>
