<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :User_ID, style: "display: block" %>
    <%= form.number_field :User_ID %>
  </div>

  <div>
    <%= form.label :Payment_type, style: "display: block" %>
    <%= form.text_field :Payment_type %>
  </div>

  <div>
    <%= form.label :Status, style: "display: block" %>
    <%= form.check_box :Status %>
  </div>

  <div>
    <%= form.label :Amount, style: "display: block" %>
    <%= form.text_field :Amount %>
  </div>

  <div>
    <%= form.label :Order_ID, style: "display: block" %>
    <%= form.number_field :Order_ID %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
