<div id="<%= dom_id payment %>">
  <p>
    <strong>User id:</strong>
    <%= payment.User_ID %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= payment.Payment_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.Status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.Amount %>
  </p>

  <p>
    <strong>Order id:</strong>
    <%= payment.Order_ID %>
  </p>

</div>
