<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.Name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.Description %>
  </p>

  <p>
    <strong>Category id:</strong>
    <%= product.Category_ID %>
  </p>

  <p>
    <strong>Price id:</strong>
    <%= product.Price_ID %>
  </p>

  <p>
    <strong>Unity:</strong>
    <%= product.Unity %>
  </p>

  <p>
    <strong>Discount id:</strong>
    <%= product.Discount_ID %>
  </p>

  <p>
    <strong>Stock id:</strong>
    <%= product.Stock_ID %>
  </p>

</div>
