<div class="container-fluid product_page">
  <div class="row d-flex flex-wrap">
    <div class="col" style="margin-bottom: 0px; padding: 0px">
      <%= image_tag "truffe_1.jpg", class: "img-fluid" %>
    </div>

    <div class="col product_detail">
      <div class="raw-cols-5">
        <div class="raw mb-2 product_text">
          <h2><%= @product.name%></h2>
        </div>

        <div class="raw mb-5 product_text">
          <h3><%= @product.price%>€</h3>
        </div>

        <div class="raw product_text">
          <h4>Poids</h4>
          <div>
            <button class="btn btn-outline-dark border border-2 border-dark rounded-pill"> 
              <span>100<span>
              <span><%= @product.unity%></span>
            </button>
            <button class="btn btn-outline-dark border border-2 border-dark rounded-pill"> 
              <span>250<span>
              <span><%= @product.unity%></span>
            </button>
            <button class="btn btn-outline-dark border border-2 border-dark rounded-pill"> 
              <span>500<span>
              <span><%= @product.unity%></span>
            </button>
            <button class="btn btn-outline-dark border border-2 border-dark rounded-pill"> 
              <span>1000<span>
              <span><%= @product.unity%></span>
            </button>
          </div>
        </div>


        <div class="raw">
          <h4>Quantité</h4>
          <div class="wrapper">
            <span class="minus">-</span>
            <span class="num">01</span>
            <span class="plus">+</span>
          </div>
        </div>

        <div class="col m-0">
          <div class="col">
            <button class="button btn-secondary shadow" role="button"><%= link_to "Acheter maintenant", edit_product_path(@product), class:"edit_product" %></button>
          </div>
          <div class="col">
            <button class="button btn-primary shadow" role="button"><%= link_to "Ajouter au panier", products_path, class:"edit_product"%></button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="container m-4 mx-auto product_description">
  <div class="row-cols m-2">
    <div class="col m-4 justify-content-start">
      <h3>Détails</h3>
    </div>
    <div class="col">
      <p><%= @product.description%>
      </p>
    </div>

  </div>
</div> 
  
<div class="container my-5 small-banner">
  <div class="text">
    <div class="d-flex">
      <%= image_tag "truffe.png", class:"truffle-detail"%>
      <h2 class="title-text">Détails</h2>
    </div>
    <div class="row" >
      <br>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et odio ultricies lectus dictum interdum. 
      Proin pharetra maximus magna vel aliquam. Nulla facilisi. Aenean finibus vel erat a tempus. Donec consequat augue sed venenatis vehicula. 
      Pellentesque id eros non ipsum blandit sagittis non vitae ante. Aenean pulvinar vitae justo at facilisis. Vestibulum vitae tortor lorem. 
      Mauris molestie dolor ac felis lobortis, ac blandit massa hendrerit. Sed iaculis libero nec leo dignissim, eget tristique mi tempus. 
      Proin vehicula augue sapien, sed rhoncus erat convallis ut.
      </p>
      <p class="text">
      Nunc vel nulla ornare, auctor eros et, blandit ex. Vivamus iaculis lorem nisl, ut vestibulum lorem laoreet sit amet. 
      Cras in porta tortor, vitae eleifend dui. Integer nec nisl efficitur, consequat sem eu, consequat lacus. Curabitur quis ultricies diam, vitae aliquet nulla. 
      Fusce semper ex non dui interdum sollicitudin. Sed suscipit sapien ut nulla bibendum, a dapibus elit congue. 
      Proin sed metus faucibus, maximus lacus id, egestas nulla. Vivamus varius dictum massa sit amet posuere. Integer sed porttitor dolor. 
      Aliquam venenatis quam at nisl condimentum, vel facilisis velit lobortis.
      </p>
    </div>
  </div>
</div>


<p style="color: #green"><%= notice %></p>
<div class="container">
  <div class="position-relative">
    <div class="position-absolute top-50 start-0 translate-middle-y"><button class="button btn-primary" role="button"><%= link_to "Edit this product", edit_product_path(@product), class:"edit_product" %></button></div>
    <div class="position-absolute top-50 start-50 translate-middle"><button class="button btn-secondary" role="button"><%= link_to "Back to products", products_path, class:"product_link"%></button></div>
    <div class="position-absolute top-50 end-0 translate-middle-y"><button class="button btn-outline" role="button"><%= link_to "Destroy this product", @product, method: :delete %></button></div>
  </div>
</div>


