<div class="container-fluid product_page">
  <div class="row prod_container">
    <div class="col product_image" style="margin-bottom: 0px; padding: 0px">
      <%= image_tag "truffe_1.webp", class: "img-fluid", alt: "4 truffes sur une planche en bois avec une rape à truffe" %>
    </div>        
          
    <div class="col-md-3 col-lg-3 col-xl-3 product_detail available">
      <div class="raw-cols-5">
        <div class="raw mb-2 product_text">
          <div class="pb-3 m-3 mx-0">
            <h6 class="mb-0">
              <%= link_to "",root_path, class:"fas fa-long-arrow-alt-left me-2 icone_prod"%>
              <%= link_to "Acceuil",root_path, class:"icone_prod"%>
              <%= link_to "/ Produits", products_path, class:"icone_prod"%>
            </h6>
          </div>
          <p class="stock_quantity"><%= @stock_quantity %> grammes en stock</p>
          <h2><%= @product.name%></h2><br>
        </div>

        <div class="raw product_text">
          <h4>Ajouter :</h4>
          <div class="button_quantity">
            <% if @stock_quantity < 50 %>
              <button onclick = "qty(50)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>50 Gr</span></button>
              <button onclick = "qty(100)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>100 Gr</span></button>
              <button onclick = "qty(250)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>250 Gr</span></button>
              <button onclick = "qty(500)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>500 Gr</span></button>
              <button onclick = "qty(1000)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>1000 Gr</span></button>
            <% elsif @stock_quantity < 100 %>
              <button onclick = "qty(50)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>50 Gr</span></button>
              <button onclick = "qty(100)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>100 Gr</span></button>
              <button onclick = "qty(250)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>250 Gr</span></button>
              <button onclick = "qty(500)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>500 Gr</span></button>
              <button onclick = "qty(1000)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>1000 Gr</span></button>
            <% elsif @stock_quantity < 250 %>
              <button onclick = "qty(50)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>50 Gr</span></button>
              <button onclick = "qty(100)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>100 Gr</span></button>
              <button onclick = "qty(250)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>250 Gr</span></button>
              <button onclick = "qty(500)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>500 Gr</span></button>
              <button onclick = "qty(1000)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>1000 Gr</span></button>
            <% elsif @stock_quantity < 500 %>
              <button onclick = "qty(50)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>50 Gr</span></button>
              <button onclick = "qty(100)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>100 Gr</span></button>
              <button onclick = "qty(250)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>250 Gr</span></button>
              <button onclick = "qty(500)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>500 Gr</span></button>
              <button onclick = "qty(1000)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>1000 Gr</span></button>
            <% elsif @stock_quantity < 1000 %>
              <button onclick = "qty(50)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>50 Gr</span></button>
              <button onclick = "qty(100)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>100 Gr</span></button>
              <button onclick = "qty(250)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>250 Gr</span></button>
              <button onclick = "qty(500)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>500 Gr</span></button>
              <button onclick = "qty(1000)" class="btn btn-outline-danger disabled border border-2 border-dark rounded-pill"><span>1000 Gr</span></button>
            <% else %>
              <button onclick = "qty(50)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>50 Gr</span></button>
              <button onclick = "qty(100)" class="btn btn-outline-dark border border-2 border-dark rounded-pill qty"><span>100 Gr</span></button>
              <button onclick = "qty(250)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>250 Gr</span></button>
              <button onclick = "qty(500)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>500 Gr</span></button>
              <button onclick = "qty(1000)" class="btn btn-outline-dark border border-2 border-dark rounded-pill"><span>1000 Gr</span></button>
            <% end %>
          </div>
        </div>



          <div id="show_qty" style="color:black"><b><I>0 gramme</I></b></div>




        <div class="col m-0">
          <div class="col button_buy">
            <button class="button btn-secondary"><%= link_to "Acheter maintenant", edit_product_path(@product), class:"buy_now_btn" %></button>
            <button class="button btn-primary"><%= link_to "Ajouter au panier", add_product_path(), class:"add_card_btn" %></button>
          </div>
        </div>
        <h5 class="icone_prod_detail">
          <%= link_to home_paiement_path, class:"icone_prod" do %>
            <i class="fa-solid fa-credit-card"></i>
          <% end %>
          <%= link_to home_livraison_path, class:"icone_prod" do %>
          <i class="fa-solid fa-truck"></i></p>
          <% end %>
        </h5>
      </div>
    </div>
  </div>

</div>


<div class="container-fluid product_description">
  <div class="row-cols m-2 prod_description">
    <div class="col m-4 justify-content-start">
      <%= image_tag "truffe.png", class:"truffle-detail", alt:"Logo truffes" %>
      <h3>Détails</h3>
    </div>
    <div class="col">
      <p><%= @product.description %></p>
    </div>
  </div>
</div>

<p class="notice"><%= notice %></p>
  
