<!DOCTYPE html>
<html>
  <head>
    <title>Truffieres de Saint-Martin</title>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <html lang="fr">
    <%= javascript_include_tag "https://code.jquery.com/jquery-1.11.1.min.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/3b6e0b8eb1.js" %>

    <%= stylesheet_link_tag "bootstrap", media:"all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "bootstrap", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", media:"all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light shadow-sm">
      <div class="container">
        <div class= "navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag "TSM_Logo_noir.png", class: "logo_tsm" %>
        <% end %>
          <%= link_to "TRUFFIERES SAINT MARTIN", root_path , class:"tsm_name"%>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <%= link_to "Accueil", root_path, class:"nav-link mx-2 text-uppercase" %>
            </li>
            <li class="nav-item">
              <%= link_to "Produits", products_path, class:"nav-link mx-2 text-uppercase" %>
            </li>
            <li class="nav-item">
              <%= link_to "Recettes", root_path, class:"nav-link mx-2 text-uppercase" %>
            </li>
            <li class="nav-item">
              <%= link_to "Panier", carts_path, class:"nav-link mx-2 text-uppercase" %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>               
              <% else %>
                <%= link_to "Connexion", new_user_registration_path, class:"nav-link mx-2 text-uppercase" %>
              <% end %>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto iconique">
            <li class="nav-item">
              <%= link_to carts_path, class:"nav-link mx-2" do %>
                <i class="fa-solid fa-cart-shopping me-1"></i>
              <% end %>
            </li>
            <li class="nav-item hello">
              <% if user_signed_in? %>
                <%= link_to edit_user_registration_path, class:"nav-link mx-2" do %>
                  <i class="fa-solid fa-circle-user me-1"></i>
                <% end %>
                <p class="text-uppercase">Bonjour <%= current_user.first_name %></p>
              <% else %>
                <%= link_to new_user_registration_path, class:"nav-link mx-2" do %>
                  <i class="fa-solid fa-circle-user me-1"></i>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container-fluid my-3 footer-container">
      <!-- Footer -->
      <footer class="text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">
                  S.A.S Delicat - Roy
                </h5>
                <p>
                  Site de vente de truffes fraîches melanosporum aux professionnels et particuliers.
                </p>
                <p>© 2023 Copyright</p>
              </div>
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Services</h5>
                <p>
                  <a class="text-black">Livraisons et retours</a>
                </p>
                <p>
                  <a class="text-black">Paiement</a>
                </p>
                <p>
                  <a class="text-black">À propos</a>
                </p>
              </div>
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">
                  Mentions légales
                </h5>
                <p>
                  <%= link_to "C.G.V", home_cgv_path, class:"text-black" %>
                </p>
                <p>
                <%= link_to "C.G.U", home_cgu_path, class:"text-black" %>
                </p>
                <p>
                  <%= link_to "Cookies", home_cookies_path, class:"text-black" %>
                </p>
              </div>

              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
                <p><i class="fas fa-home mr-3"></i> Domaine de Saint-Martin des champs</p>
                <p><i class="fas fa-envelope mr-3"></i> info@truffieres-saint-martin.com</p>
                <p><i class="fas fa-phone mr-3"></i> +33 (0)6 07 24 23 35</p>
              </div>
              <!-- Grid column -->
            </div>
            <!--Grid row-->
          </section>
        </div>
        <!-- Grid container -->
      </footer>
      <!-- Footer -->
    </div>
    <!-- End of .container -->


  </body>
  </html>







